<!doctype html>
<html lang="en" ng-app="ucApp">
<head>
  <meta charset="utf-8">
  <title>Campaign</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="vendor/jquery/jquery.min.js"></script>
  <!--<script src="vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>-->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/services.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/d3/d3.min.js"></script>
</head>
<body ng-controller="MapCtrl">
<!--<div id="top-navbar" ng-include="'partials/top-navbar.html'"></div>-->
<div id="map-wrapper">
  <div id="map" class="zoom1" data-zoom="1" map_drawer>
    <!--<div id="hexes-anchor">
      <div id="hex_{{hex.x}}_{{hex.y}}" class="hex {{hex.terrain}}" data-x="{{hex.x}}" data-y="{{hex.y}}" ng-click="hexClick(hex.x, hex.y)" ng-repeat="hex in globalMap">
        <div class="hex-text">{{hex.x}} {{hex.y}}</div>
      </div>-->
    </div>
  </div>
</div>

<div id="debug"></div>

<div id="side-menu" ng-include="'partials/add-hexes-menu.html'"></div>

<div notificationSwitch></div>

</body>
</html>
